<!-- <h1>Index Views</h1> !--> 
<!-- Looping through books to display them !--> 
<h1 class= "current-category"><%= params[:category] %> </h1> <!-- params is the category name !-->

<% if @books.count == 0  %> <!-- books is avialable because it was defined in index method in book controller!-->

    <h1>There are no books currently in this category</h1>

<% else %>

<div class="row">

  <% @books.each do |book| %>

    <div class="col-md-3"> <!-- books wrapped inside a column !-->
      <a href="/books/<%= book.id %>"> <!-- Installing an anchor tag to take us to the show page instance of book!-->
        <%= image_tag book.book_img.url(:book_index), class: "book"  %> <!-- used to display images url book index corresponding size of book !-->
      </a>
    </div>

  <% end %>

  </div>

  
<% end %>


