<!--Not just rendering form because in review _form partial were building reviews for the current book-->
<h1> Edit Form </h1>


<%= simple_form_for([@book, @review]) do |f| %>
     <div id="rating-form">
      <label>Rating</label>
     </div>
    <%= f.input :comment  %>
    <%= f.button :submit %>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>

<%= link_to 'Back', :back %>